
            <section class="our-news section-margin">
                <div class="container">
                    <div class="one-title" data-dsn-animate="up">
                        <div class="title-sub-container">
                            <p class="title-sub">Latest News</p>
                        </div>
                        <h2 class="title-main">Latest and greatest post</h2>
                    </div>
                    <div class="custom-container">
                        <div class="slick-slider">

                            
            <% for(var i = 0; i < blogs.length; i++) {%>
                            <div class="item-new slick-slide">
                                <div class="image" data-overlay="5">
                                    <img src="<%= apiUrl + blogs[i].attributes.Image.data.attributes.url %>" alt="">
                                </div>
                                <div class="content">
                                    <div class="background"></div>
                                    <h5><%= blogs[i].attributes.tags %></h5>

                                    <div class="cta">
                                        <a href="<%= '/blog/'+blogs[i].attributes.slug %>"><%= blogs[i].attributes.Title %></a>
                                    </div>

                                    <p>
                                        <%= blogs[i].attributes.excert %>
                                    </p>

                                </div>
                            </div>

                            <% } %>

                            



                        </div>
                    </div>
                </div>
            </section>